{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock%}


{% block content %}
<div class="container">
    <h1>Yummly API</h1>
    {% for flavor in flavor_list %}
        <h2>{{ flavor.recipeName }}</h2>
        <h5>{{ flavor.sourceDisplayName }}</h5>
        <img src="{{ flavor.imageUrlsBySize.90 }}" alt="{{ flavor.recipeName }}">
        <br>
        <h6>Total Time In Seconds: {{ flavor.totalTimeInSeconds }}</h6>
        <h5>Ingredients</h5>
        {% for ingredient in flavor.ingredients %}
        <h6>{{ ingredient.title }}</h6>
        {% endfor %}
        <h5>Attributes</h5>
        {% for key, value in flavor.attributes.iteritems %}
            <h6>{{ value.0.title }}</h6>
        {% endfor %}
        <h5>Flavors: </h5>
        {% for key, value in flavor.flavors.iteritems %}
            <h6>{{ key.title }}: {{ value }}</h6>
        {% endfor %}
        <h6>ID: {{ flavor.id }}</h6>
        <h6>Rating: {{ flavor.rating }} Stars</h6>
        <br>
    {% endfor %}
</div>
{% endblock %}